* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg-color: #0ea5e9;
    --sidebar-font-color: #fafafa;
    --header-bg-color: #fafafa;
    --search-input-bg-color: #e2e8f0;
    --button-bg-color: #0ea5e9;
    --button-text-color: #fafafa;
}

/* Main Grid */

.main-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "sb hd hd hd hd"
        "sb pr pr pr an"
        "sb pr pr pr an"
        "sb pr pr pr tr"
        "sb pr pr pr tr"
    ;
    height: 100vh;
}

/* Header */

header {
    grid-area: hd;
    background-color: var(--header-bg-color);
    padding: 0px 80px 0px 40px;
}

.search-user {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 0px 16px 15px;
}

.search-items {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

input[type="search"] {
    border: none;
    width: 70%;
    border-radius: 12px;
    background-color: var(--search-input-bg-color);
    padding: 3px;
    margin-left: 10px;
    font-size: 1rem;
}

.search-items i {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 2px;
}

.user {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}

.user img {
    width: 3rem;
    height: 3rem;
}

.user i {}

.greetings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.greetings img {
    width: 4rem;
    height: 4rem;
}

.greeting-sub p {
    font-size: 0.8rem;
    font-weight: bold;
}

.actions-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    align-self: center;
    justify-self: center;
    width: auto;
}

.action-buttons button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 1rem;
    font-weight: bold;
}

.action-buttons button:nth-child(1),
.action-buttons button:nth-child(2) {
    margin-right: 40px;
}


/* Sidebar */

.sidebar {
    grid-area: sb;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-font-color);
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
}

.dashboard svg {
    width: 4rem;
    height: 4rem;
    fill: var(--sidebar-font-color);

}

.dashboard p {
    font-size: 1.6rem;
    font-weight: 500;
}

.navigation,
.branding {
    padding: 20px;
}

.navigation ul,
.branding ul {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navigation li,
.branding li {
    padding: 10px;
}

.nav-item svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--sidebar-font-color);
}

/* Projects */

.projects {
    border: 1px solid black;
    grid-area: pr;
}

/* Announcements */

.announcements {
    border: 1px solid black;
    grid-area: an;
}

/* Trending */

.trending {
    border: 1px solid black;
    grid-area: tr;
}