* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --sidebar-bg-color: #0ea5e9;
    --sidebar-font-color: #fafafa;
    --header-bg-color: #fafafa;
    --search-input-bg-color: #e2e8f0;
    --button-bg-color: #0ea5e9;
    --button-text-color: #fafafa;
    --projects-bg-color: #e2e8f0;
    --cards-bg-color: #fafafa;

}

/* Main Grid */

.main-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas:
        "sb hd hd hd hd"
        "sb pr pr pr an"
        "sb pr pr pr an"
        "sb pr pr pr tr"
        "sb pr pr pr tr"
        "sb pr pr pr tr"
    ;
    /* height: 100vh; */
}

/* Header */

header {
    grid-area: hd;
    background-color: var(--header-bg-color);
    padding: 0px 80px 10px 40px;
}

.search-user {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 16px 0px 16px 15px;
}

.search-items {
    display: grid;
    grid-template-columns: 2rem 1fr;
    align-items: center;
}

input[type="search"] {
    border: none;
    width: 70%;
    border-radius: 12px;
    background-color: var(--search-input-bg-color);
    padding: 3px 10px;
    margin-left: 10px;
    font-size: 1rem;
}

.search-items i {
    height: 1.5rem;
    width: 1.5rem;
    padding-top: 2px;
}

.user {
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
}

.user img {
    width: 3rem;
    height: 3rem;
}

.greetings {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

.greetings img {
    width: 4rem;
    height: 4rem;
}

.greeting-sub p {
    font-size: 0.8rem;
    font-weight: bold;
}

.actions-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons {
    align-self: center;
    justify-self: center;
    width: auto;
}

.action-buttons button {
    padding: 10px 25px;
    border: none;
    border-radius: 20px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.action-buttons button:nth-child(1),
.action-buttons button:nth-child(2) {
    margin-right: 40px;
}


/* Sidebar */

.sidebar {
    grid-area: sb;
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-font-color);
    display: flex;
    flex-direction: column;

    padding: 20px;
}

.dashboard {
    display: flex;
    align-items: center;
}

.dashboard svg {
    width: 4rem;
    height: 4rem;
    fill: var(--sidebar-font-color);

}

.dashboard p {
    font-size: 1.6rem;
    font-weight: 500;
}

.navigation,
.branding {
    padding: 20px;
}

.navigation ul,
.branding ul {
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.navigation li,
.branding li {
    padding: 10px;
}

li i {
    margin-right: 15px;
}

.nav-item svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--sidebar-font-color);
}

/* Projects */

.projects,
.announcements {
    background-color: var(--projects-bg-color);
    grid-area: pr;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 10px;
}

.projects h3,
.announcements h3,
.trending h3 {
    font-weight: 500;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 20px;
    margin-top: 15px;
}

.project-card {
    border-radius: 5px;
    background-color: var(--cards-bg-color);
    padding: 20px;
    box-shadow: 3px 3px 2px 1px #cbd5e1;
    border-left: 5px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-card h3 {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.95rem;
}

.project-card-icons {
    margin-left: auto;
    margin-right: 0;
    padding-top: 10px;
}

.project-card-icons i:nth-child(1),
.project-card-icons i:nth-child(2) {
    margin-right: 10px;
}

.project-cards p {
    font-size: 0.8rem;
    color: #94a3b8;
}

/* Announcements */

.announcements {
    grid-area: an;
}

.announcement-cards {
    margin-top: 15px;
}

.announcement-card,
.trending-items {
    border-radius: 5px;
    background-color: var(--cards-bg-color);
    padding: 6px;
    box-shadow: 3px 3px 2px 1px #cbd5e1;
}

.announcement-card:nth-child(1),
.announcement-card:nth-child(2) {
    border-bottom: 1px solid #cbd5e1;
}

.announcement-card p {
    font-size: 0.6rem;
    color: #94a3b8;
}

.announcement-card h3 {
    font-weight: 500;
    line-height: 1.5rem;
    font-size: 0.75rem;
}

/* Trending */

.trending {
    background-color: var(--projects-bg-color);
    grid-area: tr;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 10px;
}

.trending-items {
    margin-top: 15px;
}

.trending-item {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    gap: 20px;
    padding: 6px;
}

.trending-item img {
    width: 2.5rem;
    height: 2.5rem;
}

.trending-text h4 {
    font-size: 0.9rem;
    font-weight: 500;
}

.trending-text p {
    color: #94a3b8;
    font-size: 0.7rem;
}

@media only screen and (max-width: 900px) {
    .actions-area {
        display: grid;
        grid-template-columns: 1fr;
    }
}